
.color-palette {
    bottom: 50px;
    left: 30px;
    position: fixed;
    z-index: 99999;
}

.blue {
    background-color: #04052E;
}

.purple {
    background-color: #380525;
}

.melon {
    background-color: #F6A3A2;
}