.color-palette {
    top: 15vh;
    left: 20px;
    position: fixed;
    z-index: 99999;
}

.blue {
    background-color: #04052E;
}

.purple {
    background-color: #380525;
}

.melon {
    background-color: #F6A3A2;
    color: #27292A;
}

.olive {
    background-color: #2C3A34;
}