.social {
    backgrond-color: none;
    transition: background-color 1s linear;

    div {
        p {
            display: none;
        }
    }
}

.social:hover,
.social:focus {
    background-color: rgb(157, 162, 168);

    div {
        p {
            display: inline-block;
        }
    }
}